body{

--bg-dark: #2F1893;
--bg-light: #FFF;

--color-white:#FFF;
--color-text: rgba(21, 20, 57, 0.40);
--color-heading:#1E0E62;

--color-grey: #EBEAED;


--action-primary:#25DAC5;
--action-secondary: #482BE7;
--action-third:#E93A7D;

--twitter: #1DA1F2;

}